
*{
    margin: 0;
    padding: 0;

}
.main{
    width: 100%;
    background: linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(background.jpg);
    background-position: center;
    background-size:cover;
    height: 100vh;
}
.navbar{
    width: 1600px;
    height: 77px;
    margin: auto;
}
.icon{
    width: 200px;
    float: left;
    height: 200px;
}
.logo{
 color: rgb(255, 255, 255); 

 font-family: Arial;
 padding-left: 10px;  
float: left;
padding-top: 6px;
}
.menu{
    width: 00px;
    float: left;
    height: 20px;
}
ul{
    float: left;
    display: flex;
    justify-content:left;
    align-items: left;
}
ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}
ul li a{
    text-decoration: none;
    color: white;
    font-family: 'Times New Roman';
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
ul li a:hover{
    color: orange;

}
.content{
    width: 1300px;
    height: auto;
    margin: auto;
    color: white;
    
}
.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}
.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}

.content span{
    color:rgb(255, 255, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    
}

.garage img{
    display: inline;
    position: absolute;
padding-left:75%;
}
